$t_color-font-default: #777;
$t-navbar-light-color: #1e1e1e;
$t-color-white: #fff;
$t-primary-color: #226DA7;
$t-color-dark: #212529;
$t-headers-color: $t-color-dark;
$t-bg-secondary: #25272c;
$t-home-services-text-block-bg-color: #f7f7f7;
$t-color-light: #c6d4ee;
$t-color-light-2: #6a80a9;
$t-input-bg: transparent;
$t-input-color: $t-color-white;
$t-input-group-addon-bg: $t-input-bg;
$t-input-border-color: rgba(255,255,255,.2);
$t-error-color: rgb(255 103 103);//#ff8f8f;
$t-navbar-light-active-color: $t-primary-color;
