.input-group {
  > .date-picker {
    flex: 1 1 0;

    &:not(:first-child) {
      > .form-control {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(:last-child) {
      > .form-control {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      margin-right: -1px;
    }
  }

  &-sm {
    > .date-picker {
      height: calc(1.5em + 0.5rem + 2px);
      font-size: 14px;

      .vdpOuterWrap {
        font-size: 10px;
      }
    }
  }
}
