$t-line-height-base: 1.857;
$t-enable-rounded: false;

$t-btn-padding-y: 13px;
$t-btn-padding-x: 35px;
$t-btn-font-size: 12px;
$t-btn-line-height: 1.5;
$t-btn-border-width: 2px;

$t-input-font-size: 0.85rem;
$t-input-line-height: 1.5;
$t-page-section-padding-y: 60px;
$t-form-group-margin-bottom: 2.5em;

//Shadows
$t-input-focus-box-shadow: none
